In [19]:
import csv
import pymysql
from datetime import date

# CSV 파일 Mysql 에 저장

In [20]:
conn = pymysql.connect(
    host = 'localhost',
    port = 33060,
    user = 'data',
    password = 'data',
    database = 'recommend_system',
    charset='utf8mb4'
)

cursor = conn.cursor()

# 테이블 생성
create_table_query = '''
    CREATE TABLE IF NOT EXISTS combined_crawling_data (
        id INT PRIMARY KEY,
        url VARCHAR(255),
        job_list VARCHAR(255),
        title VARCHAR(255),
        company VARCHAR(255),
        location VARCHAR(255),
        tags VARCHAR(255),
        qualifications TEXT,
        preferred TEXT,
        benefits TEXT,
        skills TEXT,
        workplace TEXT,
        crawled_date DATE
    )
'''

cursor.execute(create_table_query)

# CSV 파일 읽기 및 데이터베이스에 삽입
with open("data/combined_crawling_data.csv", encoding="utf-8") as f:
    reader = csv.reader(f)
    next(reader)  # 첫 번째 행은 헤더이므로 건너뜁니다.

    for row in reader:
        id_value = int(row[0])
        url_value = row[1]
        job_list_value = row[2]
        title_value = row[3]
        company_value = row[4]
        location_value = row[5]#
        tags_value = row[6]
        qualifications_value = row[7]
        preferred_value = row[8]
        benefits_value = row[9]
        skills_value = row[10]
        workplace_value = row[11]
        crawled_date_value = date.today()  # 현재 날짜

        insert_query = '''
            INSERT INTO combined_crawling_data (id, url, job_list, title, company, location, tags, qualifications, preferred, benefits, skills, workplace, crawled_date)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        '''
        insert_values = (id_value, url_value, job_list_value, title_value, company_value, location_value, tags_value, qualifications_value, preferred_value, benefits_value, skills_value, workplace_value, crawled_date_value)

        cursor.execute(insert_query, insert_values)

# 변경 내용을 커밋하여 데이터베이스에 반영
conn.commit()

# 연결 및 커서 종료
cursor.close()
conn.close()

TypeError: not all arguments converted during string formatting